
.online {
   display: flex;
   justify-content: center;
   color: var(--color-text);
   font-size: 12px;
   font-family: 'Light';
   margin-bottom: 10px;

   @media (max-width: 1600px) {
      font-size: 10px;
   }
}