
.change_password_form {
   position: relative;
   display: grid;
   justify-content: center;
   gap: 30px;

   @media (max-width: 768px) {
      width: 100%;
      justify-content: stretch;
   }

   input {
      width: 100%;
      min-width: 300px;

      @media (max-width: 768px) {
         min-width: auto;
      }
   }

   button {
      margin: 0 auto;
   }

}

.modal_wrapper {
   @media (max-width: 768px) {
      width: 100%;
      margin: 0 20px;  
   }
   @media (max-width: 600px) {
      margin: 0;
   }
}

.modal_body {
   padding: 40px 80px;

   @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
   }
}

.buttons {
   display: flex;
   gap: 30px;

   @media (max-width: 600px) {
      flex-direction: column;
   }
}

.tabs {
   display: flex;
   gap: 20px;

   @media (max-width: 600px) {
      flex-direction: column;
   }

   button {
      width: 220px;
   }
}

.text {
   color: var(--color-text);
   text-align: center;
}

.loader_wrapper {
   position: absolute;
   top: -30px;
   left: 50%;
   transform: translate(-50%, -100%);
}

._err {
   position: absolute;
   top: -30px;
   left: 50%;
   transform: translate(-50%, -100%);
   color: var(--color-red_light);
   white-space: nowrap;
}