
.alert {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-150%);
	background-color: var(--color-block);
	border: var(--border-width) solid var(--color-main);
	box-shadow: var(--shadow-drop), var(--shadow-inner);
	border-radius: var(--border-radius);
	padding: 30px 70px 30px 70px;

	z-index: 300;
   
   @media (min-width: 1600px) {
      max-width: 800px;
   }

   @media (max-width: 1600px) {
      padding: 30px;
   }
   
   @media (max-width: 1000px) {
      padding: 20px;
      width: max-content;
      max-width: 80%;
   }
   
	.text {
      display: flex;
		gap: 15px;
		color: var(--color-text);
		font-size: 16px;
      
      @media (max-width: 1600px) {
         font-size: 16px;

         svg {
            width: 20px;
            height: 20px;
         }
      }

      @media (max-width: 1000px) {
         font-size: 14px;
      }

      & > div {
         display: grid;
         gap: 10px;
      }
	}

	button {
		width: max-content;
		margin-top: 30px;
		margin-bottom: -15px;
		color: var(--color-main);
		padding: 10px 30px;
		background-color: transparent;
		border: 1px solid var(--color-main);
		border-radius: 10px;
		align-self: flex-end;

      @media (max-width: 1000px) {
         padding: 10px 0;
         font-size: 12px;
         margin-bottom: 0px;
      }
	}

	&:global(._show) {
		animation: showAlert 0.5s ease forwards;
	}

	&:global(._hide) {
		animation: hideAlert 0.5s ease forwards;
	}

	@keyframes showAlert {
		0% {
			transform: translateX(-50%) translateY(-150%);
		}
		20% {
			transform: translateX(-50%) translateY(10%);
		}
		60% {
			transform: translateX(-50%) translateY(-10%);
		}
		100% {
			transform: translateX(-50%) translateY(20px);
		}
	}

	@keyframes hideAlert {
		0% {
			transform: translateX(-50%) translateY(10%);
		}
		20% {
			transform: translateX(-50%) translateY(-10%);
		}
		60% {
			transform: translateX(-50%) translateY(10%);
		}
		100% {
			transform: translateX(-50%) translateY(-150%);
		}
	}
}