
.YesNo {
	--text: #2B3044;
	--line: transparent;
	--line-active: var(--color-main);

   justify-self: end;

	display: flex;
   align-items: center;
   justify-content: center;
	column-gap: 20px;

	._active_answer {
		pointer-events: none;

		svg {
			--spacing: 4px;
			--stroke: var(--line-active);
			--stroke-delay: .1s;
			--offset: 180px;
		}
	}

	button {
		width: 50px;
		display: inline-block;
		position: relative;
		margin: 0 var(--spacing, 0px);
		transition: margin .25s, color .3s ease 0s, text-shadow .4s ease 0s;

      font-size: 16px;
		text-align: center;
		text-decoration: none;
		color: var(--color-text);
		font-family: 'Regular';
		user-select: none;
		cursor: pointer;
      
      @media (max-width: 768px) {
         width: 40px;
         font-size: 14px;  
      }

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-text);
				text-shadow: 0px 1px 3px #000;
			}
		}

		svg {
         position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translate(-50%, 13px) translateZ(0);
			fill: none;
			stroke: var(--stroke, var(--line));
			stroke-linecap: round;
			stroke-width: 1px;
			stroke-dasharray: var(--offset, 69px) 278px;
			stroke-dashoffset: 361px;
			transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;

         @media (max-width: 768px) {
            width: 65px;
            transform: translate(-50%, 10px) translateZ(0);
         }
		}
	}
}