@import '@/shared/assets/styles/variables.scss';
@import '@/shared/assets/styles/profileThemes.scss';

.user_level {
   grid-column: 3/4;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   text-align: center;

   @media (max-width: 600px) {
      grid-column: 1/4;

      flex-direction: row;
      justify-content: start;
      gap: 20px;
   }

   &:global(.block) {
      padding: var(--_block-padding);
   }

	.title {
		color: var(--color-main);
		font-size: em(18);

      @media (max-width: 1000px) {
         font-size: em(14);
      }
	}

	.xp {
		color: var(--color-text);
		display: flex;
		flex-direction: column;
		margin-top: 15px;

      @media (max-width: 600px) {
         margin-top: 0;  
      }
      @media (max-width: 1000px) {
         font-size: em(14);
      }

		span:nth-child(1) {
			font-size: em(18);
         line-height: 1.5;
		}
		span:nth-child(2) {
			font-size: em(12);
		}
	}
}