@import "./fonts.scss";
@import "./variables.scss";
@import "./reset.scss";
@import "./themes.scss";


:root {
   --container-width: 1600px;

   --aside-width: 370px;
   --top-btn-height: 75px;
   --layout-padding: 20px;

   @media (max-width: 1600px) {
      --aside-width: 320px;
      --top-btn-height: 60px; 
      * {
         --layout-gap: 30px;
         --title-gap: 30px;
      }
   }
   @media (max-width: 1440px) {
      * {
         --layout-gap: 20px;
         --title-gap: 20px;
      }
   }
   @media (max-width: 1000px) {
      --layout-padding: 10px;
   }
}

button {
   &:focus-visible {
      outline: 1px solid var(--color-text);
      background-color: var(--color-border);
   }
}

.page_title {
   color: var(--color-title);
   font-size: 36px;
   font-family: "Bold";
   text-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
   text-align: center;
   user-select: none;

   @media (max-width: 1600px) {
      font-size: 30px;
   }
   @media (max-width: 1000px) {
      font-size: 26px;
   }
}

.block_title {
   color: var(--color-sub-title);
   font-size: 18px;
   letter-spacing: 0.04em;
   font-family: "Light";
   user-select: none;

   @media (max-width: 1600px) {
      font-size: 16px;
   }
}

._in_black_list {
   color: var(--color-red_light)!important;
   filter: brightness(140%);
}

::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-track {
   background-color: transparent;
}
::-webkit-scrollbar-thumb {
   // background-color: var(--color-border);
   border: 1px solid var(--color-border);
   border-radius: 5px;
}

body {
   position: relative;

   background-color: var(--color-bg);
   transition: background-color .3s ease;

   font-family: 'Light';
   overflow-y: scroll;
   overflow-x: hidden;

   // background-image: url('./../../shared/assets/images/bg.jpg');
   // background-repeat: repeat-y;
   // background-size: contain;
   // backdrop-filter: blur(0px) brightness(70%);
   // backdrop-filter: blur(5px);

   &._fixed {
      overflow: hidden;
      padding-right: 5px;
   }
}

.common_layout {
   display: grid;
   grid-template-columns: var(--aside-width) 1fr var(--aside-width);
   column-gap: var(--layout-gap);

   transition: column-gap .3s ease;

   max-width: calc( var(--container-width) + var(--layout-padding) * 2 );
   width: 100%;
   margin: 0 auto;
   padding: 0 var(--layout-padding);

   @media (max-width: 1000px) {
      grid-template-columns: 1fr;
   }
}

.main {
   @media (min-width: 1000px) {
      grid-column: 2/4;
   }
 
   display: grid;
   grid-template-columns: 1fr var(--aside-width);
   grid-template-rows: $titleHeight 1fr;
   column-gap: var(--layout-gap);
   row-gap: var(--title-gap);

   transition: column-gap .3s ease;

   @media (max-width: 1000px) {
      grid-template-columns: 1fr;
   }

   .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc( var(--layout-gap) - 10px );

      transition: gap .3s ease;
   }

   .page_body {
      @media (min-width: 1000px) {
         grid-column: 1/3;  
      }
   }
}

.header {
   @media (min-width: 1000px) {
      grid-column: 1/4;
   }
}

.footer {
   @media (min-width: 1000px) {
      grid-column: 1/4;
   }
}

.aside {
   @media (min-width: 1000px) {
      grid-column: 1/2;
      grid-row: 2/3;

      padding-top: calc( $titleHeight + var(--title-gap) + var(--layout-gap) + var(--top-btn-height) );

      transition: padding-top .3s ease;
   }

   display: flex;
	flex-direction: column;
	gap: var(--layout-gap);

   transition: gap .3s ease;

   @media (max-width: 1000px) {
      margin-top: var(--layout-gap);
      transition: margin-top .3s ease;
   }

   .block_title {
      text-align: center;
      margin-bottom: 20px;
   }
}

.block {
   --_block-padding: 20px;

   background-color: var(--color-block);
   transition: background-color .3s ease;

   border-width: var(--border-width);
   border-style: solid;
   border-color: var(--color-border);
   border-radius: var(--border-radius);
   box-shadow: var(--shadow-drop), var(--shadow-inner);
	padding: var(--_block-padding);

   .line {
      display: block;
		width: calc(100% + var(--_block-padding) * 2);
      height: 1px;
      transform: translate(calc(-1*var(--_block-padding)), 0);
		background-color: var(--color-border);
		box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, .4);
		z-index: 10;
	}
}