
._dark_theme {
   --color-text: #eaeaea;
   --color-text_dark: #222222;

   --color-bg: #2c2c2c;
   --color-block: #2c2c2c;
   
   --color-main: #ded500;
   
   --color-green: #19B600;
   --color-green_light: #61F55E;
   
   --color-red: #B60000;
   --color-red_light: #F55E5E;
   
   --color-title: #ded500;
   --color-sub-title: #ded500;
   
   --color-border: #5c5c5c;
   --border-width: 1px;
   --border-radius: 10px;

   --shadow-drop: 0px 3px 6px 4px rgba(0, 0, 0, .2);
   --shadow-inner: inset 0px 0px 6px 4px rgba(0, 0, 0, .0);

   --shadow-part-header-tabs: 6px 4px rgba(0, 0, 0, .2);

   --layout-gap: 40px;
   --title-gap: 40px;
}

._green_theme {
   --color-text: #e4e4e4;
   --color-text_dark: #222222;

   --color-bg: #252B25;
   --color-block: #6C4A27;
   
   --color-main: #f3f55e;

   --color-green: #19B600;
   --color-green_light: #61F55E;
   
   --color-red: #B60000;
   --color-red_light: #F55E5E;

   --color-title: #f3f55e;
   --color-sub-title: #f3f55e;

   --color-border: #CB9A4B;
   --border-width: 2px;
   --border-radius: 10px;

   --shadow-drop: 0px 3px 6px 4px rgba(0, 0, 0, .2);
   --shadow-inner: inset 0px 0px 6px 4px rgba(0, 0, 0, .0);

   --shadow-part-header-tabs: 6px 4px rgba(0, 0, 0, .2);

   --layout-gap: 30px;
   --title-gap: 40px;
}

._green-light_theme {
   --color-text: #e4e4e4;
   --color-text_dark: #222222;

   --color-bg: #879760;
   --color-block: #6C4A27;
   
   --color-main: #ded500;

   --color-green: #19B600;
   --color-green_light: #61F55E;
   
   --color-red: #B60000;
   --color-red_light: #F55E5E;

   --color-title: #ded500;
   --color-sub-title: #ded500;

   --color-border: #CB9A4B;
   --border-width: 2px;
   --border-radius: 10px;

   --shadow-drop: 0px 3px 6px 4px rgba(0, 0, 0, .2);
   --shadow-inner: inset 0px 0px 6px 4px rgba(0, 0, 0, .0);

   --shadow-part-header-tabs: 6px 4px rgba(0, 0, 0, .2);

   --layout-gap: 30px;
   --title-gap: 40px;
}

._vinous_theme {
   --color-text: #e4e4e4;
   --color-text_dark: #222222;

   --color-bg: #312727;
   --color-block: #6C4A27;
   
   --color-main: #f3f55e;

   --color-green: #19B600;
   --color-green_light: #61F55E;
   
   --color-red: #B60000;
   --color-red_light: #F55E5E;

   --color-title: #f3f55e;
   --color-sub-title: #f3f55e;

   --color-border: #CB9A4B;
   --border-width: 2px;
   --border-radius: 10px;

   --shadow-drop: 0px 3px 6px 4px rgba(0, 0, 0, .2);
   --shadow-inner: inset 0px 0px 6px 4px rgba(0, 0, 0, .0);

   --shadow-part-header-tabs: 6px 4px rgba(0, 0, 0, .2);

   --layout-gap: 30px;
   --title-gap: 40px;
}

._gray_theme {
   --color-text: #eaeaea;
   --color-text_dark: #222222;

   --color-bg: #8a876c;
   --color-block: #383838;
   
   --color-main: #f3f55e;

   --color-green: #19B600;
   --color-green_light: #61F55E;
   
   --color-red: #B60000;
   --color-red_light: #F55E5E;

   --color-title: #f3f55e;
   --color-sub-title: #f3f55e;

   --color-border: #999999;
   --border-width: 2px;
   --border-radius: 10px;

   --shadow-drop: 0px 3px 6px 4px rgba(0, 0, 0, .2);
   --shadow-inner: inset 0px 0px 6px 4px rgba(0, 0, 0, .0);

   --shadow-part-header-tabs: 6px 4px rgba(0, 0, 0, .2);

   --layout-gap: 20px;
   --title-gap: 40px;
}

