
.profile_tab {
	z-index: 10;

	&._active {
		transition: transform .4s cubic-bezier(.58,0,.42,1.01);
		transform: translate3d(0, 140px, 0px);
		cursor: auto;
	}

	.bg {
		flex-direction: column;
		transition: transform .4s cubic-bezier(.58,0,.42,1.01) .4s;
		transform: translate3d(0, -460px, 0px);

      @media (max-width: 1600px) {
         transform: translate3d(0, -470px, 0px);
      }
		@media (max-width: 1000px) {
			transform: translate3d(0, -880px, 0px);

			&._active_menu {
				transform: translate3d(0, -480px, 0px);
			}
		}

		&::after {
			width: 800px;
			height: 800px;
			transform: rotate(45deg);
			box-shadow: 3px 3px var(--shadow-part-header-tabs), var(--shadow-inner);
		}

		.btns_wrapper {
			position: absolute;
			bottom: -400px;
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 20px;
		}

      .exit_btn {
         width: 45px;
         aspect-ratio: 1/1;
         display: flex;
         align-items: center;
         justify-content: center;
         min-width: auto;
         padding: 0px;

         svg {
            path {
               fill: var(--color-red_light);
            }
         }
      }
	}

	.user_img_wrapper {
		width: 150px;
		height: 150px;
		user-select: none;
		position: absolute;
		bottom: -535px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		clip-path: polygon(100% 0%, 100% 0, 100% 100%, 0 100%, 0% 100%);
		transform: rotate(45deg);

      @media (max-width: 1000px) {
         bottom: -545px;
      }

		img {
			transform: translate(80%, 80%) rotate(-45deg);

         @media (max-width: 1000px) {
            width: 40px;
            height: 40px;
         }
		}
	}
}